{
    "presets": [
        "@babel/preset-env"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    },
    "plugins": [
        ["@babel/transform-runtime"]
    ]
}